.taskForm{
    background-color: #262524;
    padding: 20px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formTitle{
    color: f2f2f2;
}
.userInput{
    background-color: #eaaf1900;
    border: 1px solid #808080a1;
}