body{
    background-color: #557f49;
    color: #f2f2f2;
}
main{
    display: flex;
    justify-content: center;
}
h2{
    margin: 0;
    padding: 5px;
}
.taskForm{
    background-color: #262524;
    padding: 20px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todoTasks{
    margin: 0;
    padding: 0;
}
.completedTasks{
    margin: 0;
    padding: 0;
}
.userInput{
    background-color: #eaaf1900;
    border: 1px solid #808080a1;
    color: #f2f2f2;
}