.taskForm{
    background-color: #eaaf19;
    padding: 20px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userInput{
    background-color: #eaaf19;
}